<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bootswatch.css" />
</head>
<body>
    <div class="container card border-primary mb-3" style="max-width: 40rem;">
        <div class="card-header" style="text-align: center">User registration</div>
        <div class="card-body">
            @RenderBody()
        </div>
    </div>
</body>
</html>
